################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/TTF2Woff
/TTF2Woff/bin/Debug/netcoreapp3.1
/TTF2Woff/obj
